/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #f2f2f2;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #222222;
  }
  
  #logo-container {
    position: relative;
  }
  
  #logo-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #f2f2f2;
    font-size: 2.2em;
    text-align: center;
  }

  #logo {
    width: 20%;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 1em;
  }
  
  nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 2.2em;
    padding: 0.5em 1em;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #4d4d4d;
    color: #f2f2f2;
  }
  
  /* Upcoming Games Section */
  #upcoming-games {
    margin: 2em 0;
    text-align: center;
  }
  
  #upcoming-games h1 {
    color: #f2f2f2;
    margin-bottom: 1em;
  }
  
  #upcoming-games img {
    max-width: 100%;
    border-radius: 10px;
  }
  #upcoming-games h2 {
    color: #f2f2f2;
    margin-top: 1em;
  }
  
  #upcoming-games p {
    color: #f2f2f2;
    margin-top: 1em;
  }
  
  #upcoming-games .cta-button {
    background-color: #f2f2f2;
    color: #222222;
    padding: 0.5em 1em;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #upcoming-games .cta-button:hover {
    background-color: #222222;
    color: #f2f2f2;
  }
  
  /* Footer */
  footer {
    padding: 1em;
    background-color: #222222;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
  
  footer li {
    margin-right: 1em;
  }
  
  footer a {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  footer p {
    color: #f2f2f2;
    margin-top: 1em;
  }
  
